---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Twitter from '../components/logos/Twitter.astro';
import Porfolio from '../components/Porfolio.astro';

const url = 'https://twitter.com/share?url=';
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="es-Es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2 class="font-bold my-8">Portfolio</h2>
			<h3 class="text-base my-8">Conoce mi portfolio. Estos son algunos de los proyectos en los que he participado como freelance.</h3>
			<Porfolio />
		</main>
		<Footer />
	</body>
</html>
